<div class="row">
    <div class="col-md-5 col-center">
        <h1>{{event.eventName}}</h1>
        <h3>{{event.location}}</h3>
        <h3>{{event.start | date:'medium' }} - {{event.end | date:'medium'}}</h3>

        <hr>

        <div>
            <ul>
                <li *ngFor="let registration of this.registrations">
                    {{ registration }}
                </li>
            </ul>
        </div>

        <div>
            <button type="button" class="btn btn-secondary" (click)="back()">Go back</button>
        </div>
    </div>
</div>