@font-face {
    font-family: 'roboto_condensedregular';
    src: url("fonts/RobotoCondensed-Regular-webfont.eot");
    src: url("fonts/RobotoCondensed-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/RobotoCondensed-Regular-webfont.woff") format("woff"), url("fonts/RobotoCondensed-Regular-webfont.ttf") format("truetype"), url("fonts/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular") format("svg");
    font-weight: normal;
    font-style: normal; }

html {
    height: 100%; }

body {
    /*  the footer & comments box block the view, added 80px padding
  height: 100%;
  min-height: 100%;
  */
    padding-bottom: 80px;
    font-family: "roboto_condensedregular";
    color: #333;
    background: #F2F2F2;
    -ms-overflow-style: scrollbar; }

.blue-lightest {
    color: #c1d8ee; }

.well {
    box-shadow: none;
    border-radius: 0;
    border: none;
    background: #ffffff; }

a:hover {
    text-decoration: none; }

.modal-dialog {
    margin-top: 20%; }

.modal-footer {
    border-top: none;
    text-align: left !important; }
.modal-footer button.btn {
    padding-left: 2em !important;
    padding-right: 2em !important; }

.modal-content {
    border-radius: 0 !important;
    padding: 0 1em; }

.modal-header {
    border-bottom: none; }

@media (max-width: 992px) {
    .navbar-header {
        float: none; }
    .navbar-left, .navbar-right {
        float: none !important; }
    .navbar-toggle {
        display: block; }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px; }
    .navbar-collapse.collapse {
        display: none !important; }
    .navbar-nav {
        float: none !important;
        margin-top: 7.5px; }
    .navbar-nav > li {
        float: none; }
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px; }
    .collapse.in {
        display: block !important; }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none; } }

/*.btn, .btn-lg, .btn-sm {
    border: none;
    border-radius: 0; }
.btn .fa, .btn-lg .fa, .btn-sm .fa {
    font-size: .9em;
    padding-right: .5em; }

.btn {
    font-size: 1.1em;
    padding: .5em .8em;
    margin-top: 10px; }

.btn-default, .btn-default:focus {
    background: #666666 !important;
    color: #ffffff !important; }

.btn-primary, .btn-primary:focus {
    background: #1B77AF !important;
}

.btn-primary:hover {
    background: #00338D !important;
}

.btn-default:hover {
    background: #595959 !important;
    color: #ffffff !important; }

.btn-default:active {
    background: #737373 !important;
    color: #ffffff !important; }

.btn-primary:active {
    background: #00bdba !important; }

.btn:active, .btn:focus {
    outline: 5px auto #999999 !important; }

.button-group .btn, .button-group .btn-lg, .button-group .btn-sm {
    margin-right: 10px; }

.button-group.text-right .btn, .button-group.text-right .btn-lg, .button-group.text-right .btn-sm {
    margin-left: 10px;
    margin-right: 0; }*/

.popups {
    z-index: 1000;
    min-width: 380px; }
.popups .popup-label .fa.fa-times {
    margin-left: 5px; }
.popups .popup-label .navbar-toggle {
    margin: 0;
    height: 40px;
    margin-top: -40px;
    display: block !important; }
.popups .popup-body {
    background: white;
    padding: 20px; }

.comment-popup {
    position: fixed;
    bottom: 25px;
    right: 20px; }
.comment-popup .comments-past {
    overflow-y: auto;
    height: 50%;
    border: 1px solid #f0f0f0; }
.comment-popup .comments-past .comments-container {
    height: 100%; }
.comment-popup .comments-past .comments-container .popup-comment {
    padding: 10px;
    border-bottom: 1px solid #f0f0f0; }
.comment-popup .comments-past .comments-container .popup-comment .comment-status {
    color: #00A3A1; }
.comment-popup .new-comment-container {
    height: 50%; }

.navbar-taxray {
    background: #1B77AF;
    color: #ffffff; }

.navbar-taxray .navbar-nav > li > a {
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px; }

.navbar-logo {
    background: #00338D;
    height: 100%; }
.navbar-logo img {
    height: 80px; }

.navbar-profile-details {
    margin-top: 5px; }
.navbar-profile-details p {
    margin-bottom: 0px; }
#dropdownMenuLink {
    margin: 0px;
    padding: 0px;
}
#dropdownMenuLink a {
    margin-left: 5px;
}
.navbar-profile-details p .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: visible;
    margin-top: -1px;
}

.dropdown-item {
    padding-left: 5px;
}

.navbar-header {
    margin-top: 15px; }

.navbar-toggle {
    background: #ffffff; }

.navbar-nav {
    margin-top: 5px; }
.navbar-nav li a {
    background: none !important;
    color: #ffffff !important; }
.navbar-nav li a:hover {
    color: #c1d8ee !important; }
.navbar-nav li.active a {
    color: #c1d8ee !important; }
.navbar-nav li:before {
    content: "|";
    color: #c1d8ee;
    display: block !important;
    float: right !important;
    padding-top: 5px; }
.navbar-nav li:last-child:before {
    display: none !important; }

@media (max-width: 970px) {
    .navbar-nav li:before {
        display: none !important; } }

.timer {
    background: #00338D;
    border-radius: 10px;
    margin: 20px 20px 15px 20px;
    display: inline-block; }
.timer .stopwatch {
    font-size: 1.4em;
    line-height: 1.2em;
    height: 40px;
    padding: 8px 20px;
    border-right: 1px solid #ffffff; }
.timer .info {
    height: 36px;
    padding: 2px 20px; }
.timer .info p {
    margin: 0; }
.timer .controls {
    height: 40px; }
.timer .controls ul {
    padding: 10px 20px;
    list-style: none; }
.timer .controls ul li {
    display: inline-block;
    font-size: 1.2em;
    line-height: 1.2em;
    padding: 0 5px; }
.timer .controls ul li span {
    cursor: pointer; }
.timer .controls ul li .fa-play {
    color: #43B02A; }
.timer .controls ul li .fa-circle {
    color: #BC204B; }

.timer.active .stopwatch {
    background: #ffffff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #00338D; }

@media (min-width: 970px) and (max-width: 1200px) {
    .timer .info {
        padding: 2px 10px;
        font-size: 13px; }
    .timer .controls {
        font-size: 10px; }
    .timer {
        margin: 18px 0; }
    .timer .controls ul li {
        font-size: 1.2em;
        padding: 0 5px; }
    .timer .controls ul {
        padding: 12px 5px; }
    .timer .stopwatch {
        font-size: 1.2em;
        padding: 8px 10px; } }

.subheader {
    background: #ffffff; }
.subheader .subheader-item {
    float: left; }
.subheader .title {
    padding: 5px 30px; }
.subheader .title h2 {
    font-weight: normal;
    font-size: 20px;
    margin: 0;
    color: #1B77AF; }
.subheader p {
    margin-bottom: 0;
    margin-top: 0; }
.subheader .nav-prev, .subheader .nav-next {
    padding: 5px 10px; }
.subheader .nav-prev p, .subheader .nav-next p {
    color: #666666; }
.subheader .nav-prev .fa, .subheader .nav-next .fa {
    font-size: 2em;
    display: inline-block; }
.subheader .nav-prev .info, .subheader .nav-next .info {
    line-height: 1em; }
.subheader .nav-prev .fa,
.subheader .nav-prev .fnt-small {
    color: #00A3A1; }
.subheader .nav-next .fa,
.subheader .nav-next .fnt-small {
    color: #7C2E87; }
.subheader .back {
    padding: 10px; }
.subheader .back a {
    margin: 10px;
    border-right: 1px solid #f0f0f0; }
.subheader .back a:last-child {
    border: none; }

.status-timeline {
    background: #666666; }
.status-timeline .status-item {
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 1;
    height: 28px;
    border-right: 2px solid #ffffff; }
.status-timeline .status-item .navbar-toggle {
    width: 10px;
    height: 10px;
    z-index: 100;
    position: absolute;
    right: 5px;
    top: 2px; }
.status-timeline .status-item a.title {
    font-size: 14px;
    margin: 0;
    padding: 4px 5px;
    color: #ffffff;
    z-index: 10;
    display: block;
    position: relative; }
.status-timeline .status-item a.title .fa {
    line-height: 20px;
    font-size: 16px; }
.status-timeline .status-item .nav {
    display: none;
    position: absolute;
    background: #666666;
    color: #ffffff; }
.status-timeline .status-item .completion-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; }
.status-timeline .status-item .active {
    background: #7C2E87; }
.status-timeline .status-item .complete {
    background: #00A3A1; }
.status-timeline .status-item:hover a.title {
    -moz-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.3); }
.status-timeline .status-item:last-child {
    border-right: none; }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .status-item:hover > .nav {
        padding: 0;
        display: block;
        z-index: 8;
        top: 28px;
        left: 0;
        width: 100%;
        border-top: 2px solid #999999; }
    .status-item:hover > .nav a {
        color: #ffffff;
        width: 100%;
        padding: 5px 10px; }
    .status-item:hover > .nav a .fa {
        line-height: 20px; }
    .status-item:hover > .nav li:hover > a {
        background: #333333; }
    .status-item:hover > .nav li {
        position: relative; }
    .status-item:hover > .nav li:hover > .nav {
        width: 50%;
        display: block;
        left: 100%;
        top: 0;
        border-left: 2px solid #999999; } }

@media (max-width: 992px) {
    .status-timeline .status-item {
        border-right: none !important;
        height: auto !important; }
    .status-timeline .status-item a {
        color: white; }
    .status-timeline .status-item a.title {
        padding: 10px 15px !important; }
    .status-timeline .status-item .nav {
        position: static !important;
        padding: 0 !important;
        background: #333 !important; }
    .status-timeline .status-item .completion-bar {
        height: 40px; }
    .status-timeline .status-item li:hover a {
        background: #333; }
    .status-timeline .status-item .fa.fa-angle-down {
        display: none; }
    .status-timeline .status-item .navbar-toggle {
        height: 26px !important;
        width: 26px !important;
        padding: 0px;
        margin: 4px; }
    .status-timeline .status-item .icon-bar {
        background: #999;
        width: 60%;
        margin: 2px auto; }
    .status-timeline .status-item .nav li {
        border-bottom: 2px solid #222; }
    .status-timeline .status-item .nav li:hover > a {
        background: #666; }
    .status-timeline .status-item .nav .nav {
        display: block;
        /* padding: 0 15px !important; */
        background: #222 !important; }
    .status-timeline .status-item .nav .nav li a {
        padding-left: 35px; } }

.content {
    height: 100%;
    min-height: 100%;
    padding-top: 80px;
    padding-bottom: 25px; }

.main-content {
    margin-top: 20px; }

.filters .k-dropdown {
    font-size: 11px;
    margin-top: 2px; }

.well-title {
    padding: 5px 10px;
    background: #ffffff;
    color: #333333;
    display: inline-block; }

.service-info .header {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 5px; }
.service-info .header h2.title {
    font-size: 18px;
    line-height: 22px;
    margin: 0; }
.service-info .header .phase-info {
    line-height: 22px; }
.service-info .header .phase-info .phase {
    color: #1B77AF;
    display: inline-block; }
.service-info .header .complexity .k-dropdown {
    font-size: 11px; }

.service-info .subheader {
    padding-top: 5px; }
.service-info .subheader .label {
    font-size: 14px;
    color: #999999;
    font-weight: normal; }

.service-personal .row {
    padding: 3px 0;
    border-bottom: 1px solid #f0f0f0; }

.service-personal .row:last-child {
    border-bottom: 0; }

.service-personal .label {
    font-size: 14px;
    color: #999999;
    font-weight: normal; }

.service-personal .info {
    float: right; }

.service-files .well {
    font-size: 12px; }

.service-files .scrollable {
    height: 245px;
    overflow-y: auto; }
.service-files .scrollable .inner-well {
    height: auto; }

.service-files th {
    font-weight: normal; }

.service-files td {
    padding: 2px !important;
    border: none !important; }
.service-files td .fa {
    margin-right: 3px; }

.service-history .well {
    font-size: 12px; }

.service-history .scrollable {
    height: 215px;
    overflow-y: auto; }
.service-history .scrollable .inner-well {
    height: auto; }

.service-assign .people .title {
    margin-left: 10px;
    display: inline-block; }

.service-assign button {
    margin-top: 0 !important; }

.deadline {
    background: #999;
    padding: 2px;
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    color: #fff; }

.deadline-tab {
    display: inline-block;
    margin: 0 2px;
    font-size: 10px;
    line-height: 11px;
    width: 14px;
    height: 14px; }

.deadline-details {
    display: inline-block;
    margin: 0 10px;
    font-size: 16px;
    line-height: 20px;
    width: 24px;
    height: 24px; }

.green {
    background: #009A44; }

.yellow {
    background: #F68D2E; }

.red {
    background: #BC204B; }

.blue {
    background: #1B77AF; }

.blue-text {
    color: #1B77AF; }

@media (min-width: 970px) {
    .main-content {
        margin-left: 0;
        margin-right: 0; } }

#footer {
    position: fixed;
    bottom: 0;
    height: 25px;
    width: 100%;
    padding: 0; }

.footer-wrap {
    background: #ffffff;
    padding: 5px;
    margin: 0;
    color: #666666;
    font-size: .8em; }

.status-steps {
    padding: 0px; }

.status-steps .step {
    padding-top: 30px;
    text-align: center;
    width: 8.33333%;
    height: 110px;
    float: left;
    position: relative;
    display: block; }
.status-steps .step .status {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 28px; }
.status-steps .step .step-name {
    font-size: 12px;
    line-height: 1; }
.status-steps .step .status-complete::after {
    content: "\f058";
    width: 100%;
    clear: both;
    float: left;
    text-align: center;
    color: #00A3A1; }
.status-steps .step .status-in-progress::after {
    content: "\f013";
    width: 100%;
    clear: both;
    float: left;
    text-align: center;
    color: #470A68;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite; }

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg); } }

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); } }
.status-steps .step .status-not-complete::after {
    content: "\f10c";
    width: 100%;
    clear: both;
    float: left;
    text-align: center;
    color: #999999; }
.status-steps .step .status-waiting::after {
    content: "\f017";
    width: 100%;
    clear: both;
    float: left;
    text-align: center;
    color: #EAAA00; }
.status-steps .step .status-fail::after {
    content: "\f057";
    width: 100%;
    clear: both;
    float: left;
    text-align: center;
    color: #BC204B; }
.status-steps .step .status-redo::after {
    content: "\f058";
    width: 100%;
    clear: both;
    float: left;
    text-align: center;
    color: #ffdb00; }

.status-steps .step:after {
    border-top: 3px solid #ddd;
    content: "";
    height: 1px;
    width: 60%;
    float: left;
    display: block;
    position: absolute;
    top: 45%;
    left: 70%; }

.status-steps .step:last-child:after {
    display: none; }

.status-steps .step-small .status {
    font-size: 20px;
    line-height: 40px; }

.dashboard .nav-tabs li {
    margin-right: 3px; }
.dashboard .nav-tabs li a {
    border: 0;
    padding: 5px 10px;
    background: #999999;
    color: #ffffff;
    border-radius: 0; }
.dashboard .nav-tabs li a:hover {
    border-radius: 0;
    background: #00338D; }

.dashboard .nav-tabs li.active a {
    border: 0;
    background: #ffffff;
    color: #333333; }

.dashboard .tab-content {
    background: #ffffff;
    padding: 5px; }

.dashboard .k-grid {
    box-shadow: none !important;
    border: 0; }
.dashboard .k-grid .k-grid-header {
    background: none; }
.dashboard .k-grid .k-header {
    background: none;
    border: 0; }
.dashboard .k-grid .k-grid-header-wrap {
    border: 0; }
.dashboard .k-grid .k-pager-wrap {
    background: none !important;
    border: 0 !important;
    box-shadow: none !important; }
.dashboard .k-grid .k-pager-wrap .k-pager-refresh {
    background: none; }
.dashboard .k-grid td {
    border: 0 !important; }
.dashboard .k-grid .new td {
    background: #3dbae5; }

.wohnsitz_block {
    margin: 0;
    display: flex;
    margin-bottom: 20px; }

.wohnsitz_timeline {
    background: #f5f5f5;
    border: 1px solid #d1d1d1;
    padding: 30px; }

.wohnsitz_timeline h4 {
    color: #002664;
    font-size: 14px;
    font-weight: 100; }

.wohnsitz_timeline_national, .wohnsitz_timeline_dba {
    padding-left: 15px;
    padding-right: 15px; }

.wohnsitz_timeline_item {
    padding-left: 0px;
    padding-right: 0px; }

.wohnsitz_timeline_item i {
    color: #fff !important;
    margin-right: 5px; }

.dba_row_template li {
    float: left;
    display: block;
    width: 100%;
    margin-bottom: 5px; }

.wohnsitz_timeline h4::after {
    /*border: 1px solid #ddd;*/
    content: " ";
    display: block;
    /*margin-bottom: 10px;
    margin-top: 10px;
    width: 60px;*/ }

.timeline_dba_title::before {
    border: 1px solid #ddd;
    content: " ";
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 60px; }

.timeline_dba_title::after {
    display: none !important; }

.wohnsitz_timeline_item div {
    align-items: center;
    border-radius: 4px;
    color: #fff;
    display: flex;
    font-size: 14px;
    font-weight: 100;
    height: 30px;
    justify-content: center;
    margin-bottom: 5px;
    margin-left: 1px;
    margin-right: 1px;
    text-transform: uppercase;
    overflow: hidden; }

.timeline_visible {
    height: 20px;
    margin-bottom: 2px;
    margin-top: 2px; }

.wohnsitz_zeitraum {
    background: transparent none repeat scroll 0 0;
    /*border-bottom: 2px solid #015397;*/
    border-radius: 0;
    color: #015397;
    display: block;
    font-size: 10px;
    font-weight: normal;
    padding-bottom: 10px;
    text-transform: uppercase; }

.wohnsitz_zeitraum::after {
    border-bottom: 2px solid #015397;
    content: " ";
    display: block;
    margin-top: 10px;
    width: 100%; }

.wohnsitz_zeitraum::before {
    border-bottom: 2px solid #015397;
    content: " ";
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 100%; }

.wohnsitz_timeline_header {
    position: relative; }

.timeline_january, .timeline_december {
    position: absolute;
    color: #999;
    text-transform: uppercase;
    top: 15px;
    font-size: 10px;
    text-shadow: 0px 1px 0px #fff; }

.timeline_january {
    left: -22px;
    transform: rotate(-90);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg); }

.timeline_december {
    right: -22px;
    transform: rotate(90);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg); }

.wohnsitz_col {
    padding: 0px; }

.wohnsitz_col .form-group {
    margin-bottom: 5px; }

.wohnsitz_col i {
    color: #66266F;
    text-shadow: 0px 1px 0px #fff; }

.wohnsitz_col i:hover {
    color: #00a3a1;
    cursor: default; }

.wohnsitz_ball {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 10px; }

.wohnsitz_ball span {
    width: 20px;
    height: 18px;
    background: #015397;
    border-radius: 20px; }

.wohnsitz_dates {
    background: #1B77AF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px 0 0 3px;
    padding-top: 20px; }

.wohnsitz_dates_description {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 5px; }

.wohnsitz_dates i {
    color: #fff;
    padding-left: 10px;
    font-size: 14px; }

.blue_center {
    padding-left: 20px;
    padding-right: 20px;
    color: #fff; }

.blue_center .datepicker_group .datepicker {
    width: 100%; }

.wohnsitz_type {
    border: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    padding: 15px;
    background: #f5f5f5; }

.wohnsitz_col h4 {
    margin-top: 0px;
    color: #002664;
    font-size: 14px;
    font-weight: 100; }

.wohnsitz_col h4:after {
    content: ' ';
    display: block;
    border: 1px solid #ddd;
    width: 60px;
    margin-top: 10px;
    margin-bottom: 10px; }

.wohnsitz_col h5 {
    margin-top: 0px;
    color: #444;
    font-size: 12px;
    margin-bottom: 0px; }

.wohnsitz_col h5 span {
    color: #494949;
    width: 95px;
    float: left; }

.wohnsitz_dba {
    border: 1px solid #d1d1d1;
    border-left: 0px;
    padding: 15px;
    background: #f5f5f5; }

.wohnsitz_tools {
    border: 1px solid #d1d1d1;
    border-left: 0px;
    background: #f5f5f5;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center; }

.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #015397;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: -7px; }

.wohnsitz_countries {
    margin-bottom: 15px; }

.wohnsitz_countries::after {
    border: 0.5px solid #ccc;
    content: " ";
    display: block;
    margin-bottom: 0;
    margin-top: 0px;
    width: 20px; }

.wohnsitz_country_name {
    height: 15px !important; }

.wohnsitz_col hr {
    margin-top: 7px;
    margin-bottom: 5px; }

.ansassigkeit_radio_question {
    padding-top: 7px; }

#aktienbasirte_wrap {
    margin-bottom: 0px; }

.radio_space label + label {
    margin-left: 10px; }

.builder_list {
    margin: 0;
    padding: 0;
    list-style: none; }

.builder_list li {
    margin: 0;
    padding: 10px 10px 10px 20px;
    min-height: 28px;
    line-height: 28px;
    vertical-align: middle;
    width: 100%;
    float: left; }

.builder_list li + li {
    border-top: 1px solid rgba(128, 128, 128, 0.5); }

.demo-section {
    min-width: 220px;
    margin-top: 50px;
    padding: 0; }

.builder_list li .km-switch {
    float: right; }

.km-switch-background, .km-switch-handle {
    color: #B7266F !important; }

.icon_center {
    padding-top: 30px; }

#toolbar {
    width: 100%;
    height: 40px;
    background: #ffffff; }

.dashboard_container {
    margin-top: 20px; }

.nav-tabs {
    border-bottom: 0px; }

.service_details_info_top h2 {
    font-size: 16px; }

.routecard_section {
    background: #fff;
    overflow: hidden; }

.routecard_section h2 {
    font-size: 20px;
    margin-top: 10px; }

.routecard_section h2::after {
    content: ' ';
    display: block;
    border: 1px solid #ddd;
    width: 60px;
    margin-top: 15px;
    margin-bottom: 15px; }

.routecard_section h4::after {
    content: ' ';
    display: block;
    border: 1px solid #ddd;
    width: 60px;
    margin-top: 15px;
    margin-bottom: 15px; }

/*Numeric spinner*/
.routecard_section .spinner {
    height: 28px; }

.routecard_section .spinner input[type="text"] {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 100px;
    text-align: center;
    height: 28px;
    float: left;
    border: 1px solid #ccc;
    border-right: none; }

.routecard_section .spinner .nav {
    float: left; }

.routecard_section .spinner .nav .up,
.routecard_section .spinner .nav .down {
    cursor: pointer;
    border: 1px solid #ccc;
    width: 25px;
    height: 14px;
    text-align: center;
    line-height: 13px;
    background-color: #ddd;
    color: #333;
    font-size: 12px; }

.routecard_section .spinner .nav .up:hover,
.routecard_section .spinner .nav .down:hover {
    box-shadow: inset 0px 0px 17px 0px rgba(255, 255, 255, 0.5); }

.routecard_section .spinner .nav .up {
    border-top-right-radius: 3px; }

.routecard_section .spinner .nav .down {
    border-bottom-right-radius: 3px; }

.ddl {
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%; }

.routecard_section label {
    font-weight: 300; }

.datepicker_group .k-picker-wrap {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 0px; }

.datepicker_group input.datepicker {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 0px; }

.form-group {
    margin-bottom: 25px; }

.add_row_btn {
    font-size: 24px;
    color: #008A88;
    float: left; }

.datepicker {
    padding-top: 0px;
    padding-bottom: 0px; }

/* ON OFF SWITCH*/
.onoffswitch {
    position: relative;
    width: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    float: right; }

.onoffswitch-checkbox {
    display: none; }

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 11px;
    padding: 0;
    line-height: 11px;
    border: 2px solid #999999;
    border-radius: 11px;
    background-color: #EEEEEE;
    transition: background-color 0.3s ease-in;
    width: 21px; }

.onoffswitch-label:before {
    content: "";
    display: block;
    width: 11px;
    margin: 0px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 12px;
    border: 2px solid #999999;
    border-radius: 11px;
    transition: all 0.3s ease-in 0s; }

.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #015397; }

.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #015397; }

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; }

/* END OF ON OFF SWITCH*/
.taxpayer_select {
    opacity: 0.5;
    margin-top: 0px; }

.taxpayer_select.active {
    opacity: 1; }

.routecard_section .text_input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 7px; }

.person_divider {
    padding: 30px;
    background: #f3f3f3; }

.routecard_section i {
    color: #1B77AF; }

.thick_hr {
    border-width: 1px;
    border-color: #ccc; }
