<div class='main-nav'>
    <div class=''>
            <ul class='blademenu'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['./list']">
                        <span class='glyphicon glyphicon-th-list'></span> Resources
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['./add']">
                        <span class='glyphicon glyphicon-plus'></span> Add resource
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['./events-list']">
                        <span class='glyphicon glyphicon-calendar'></span> Events
                    </a>
                </li>
            </ul>
        </div>
</div>
